endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


set mysql_connection_string "server=127.0.0.1;database=core;userid=root;password="

ensure mysql-async

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard
ensure scripttest

sv_scriptHookAllowed 0

ensure dpemotes
ensure dpclothing

ensure gcphone

ensure rCore
ensure rFramework

sv_hostname "[FR] RedSide || 👊 Free-Access || 💻 Contenue Incroyable & Optimisé + 95...] "

sv_master1 "maliikuslabete"


# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "0286AEC0F7803153DE0E44E53106FAD4"
# License key for your server (https://keymaster.fivem.net/)
set sv_licenseKey f0ou5jzyzetno6c54jdo4fs81n6kxn9o

sv_endpointprivacy true


onesync_enabled false
sv_maxclients 32











set steam_webApiKey ""
sv_licenseKey 